Makefile.local
*.root
*.eps
lib/*
*/.bin
*~
ra/ra
*.pdf
*.tex
*dict__.cpp
*.[doa]
*.so
*.exe
*.NOT
ivf_treeAnalysis/plot_ivf/
*/plot
plot/plotzbb
dra/dra_local
zsvanalysis/rootfiles
plot_ivf/
plot_zsv
